# LẤY TOKEN MỚI TỪ @BotFather, KHÔNG DÙNG TOKEN CŨ ĐÃ LỘ
BOT_TOKEN=8310498174:AAGQ8k_FPMevH9bYwWypAJupU_BLwqe22Og


# Nếu chỉ muốn log đúng 1 group: điền chat_id (vd: -1001234567890). Để trống = log mọi group.
ONLY_CHAT_ID=


# Đường dẫn CSV (mặc định ./data/telegram_group_log.csv)
CSV_PATH=./data/telegram_group_log.csv